<footer class="footer">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col__3 text-left footer__logo">
                    <img src="assets/img/brand-footer-logo.png" />
                </div>
                <div class="col__6 text-center">
                    <div class="row">
                        <div class="col__4">
                            <ul>
                                <li>
                                    <a href="#">Consectetur</a>
                                </li>
                                <li>
                                    <a href="#">Ullamcorper</a>
                                </li>
                                <li>
                                    <a href="#">Nullam</a>
                                </li>
                                <li>
                                    <a href="#">Inceptos</a>
                                </li>
                                <li>
                                    <a href="#">Bibendum</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col__4">
                            <ul>
                                <li>
                                    <a href="#">Consectetur</a>
                                </li>
                                <li>
                                    <a href="#">Ullamcorper</a>
                                </li>
                                <li>
                                    <a href="#">Nullam</a>
                                </li>
                                <li>
                                    <a href="#">Inceptos</a>
                                </li>
                                <li>
                                    <a href="#">Bibendum</a>
                                </li>
                            </ul>
                        </div>    
                    </div>
                </div>
                <div class="col__3 footer__sign-up">
                    <button id="modal-button" href="#">Click here to sign up <i class="fas fa-arrow-right"></i></button>
                    <i class="social-icon fab fa-facebook-f"></i>
                    <i class="social-icon fab fa-instagram"></i>
                    <i class="social-icon fab fa-twitter"></i>
                    <i class="social-icon fab fa-youtube"></i>
                </div>
            </div>
            <div class="footer__credentials padding-top-bottom col__12">
                <div class="row">
                    <div class="col__3"></div>
                    <div class="col__6">
                        <img src="/assets/img/payment-methods.png" alt="">
                    </div>
                    <div class="col__3">
                        <p>©2019 Bark Ltd. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>