<header>
  <div class="container-fluid">
    <div class="row">
      <!-- Logo container -->
      <div class="col__3">
        <div class="logo-container">
          <img src="assets/img/brand-logo.svg"></img>
        </div>
      </div>
      <!-- Nav -->
      <div class="col col__9">
        <div class="nav-container text-right">
          <ul>
              <li>
                <a class="active" href="#">active</a>
              </li>
              <li>
                <a href="#">Link 1</a>
              </li>
              <li>
                <a href="#">Link 2</a>
              </li>
              <li>
                <a href="#">Link 3</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>