<div class="container-fluid slider padding-top-bottom text-center">
	<div class="container">
		<div class="col-__12">
			<h2>Our Best Sellers</h2>
		</div>
		<div class="slider__js">
			<div class="slider__single padding-left-right">
				<img src="/assets/img/product-1.png" title="" alt="" />
				<div class="slider__text padding-full">
					<h4 data-mh="slider-title">Natures Menu Senior Dog Food Pouch Lamb with Chicken</h4>
					<p>£22.81</p>
					<a class="button" href="#">View More</a>
				</div>
			</div>
			<div class="slider__single padding-left-right">
				<img src="/assets/img/product-2.png" title="" alt="" />
				<div class="slider__text padding-full">
					<h4 data-mh="slider-title">Natures Menu Dog Food Can Chicken</h4>
					<p>£11.92</p>
					<a class="button" href="#">View More</a>
				</div>
			</div>
			<div class="slider__single padding-left-right">
				<img src="/assets/img/product-3.png" title="" alt="" />
				<div class="slider__text padding-full">
					<h4 data-mh="slider-title">Real Meaty Dog Treats with Beef</h4>
					<p>£2.09</p>
					<a class="button" href="#">View More</a>
				</div>
			</div>
			<div class="slider__single padding-left-right">
				<img src="/assets/img/product-1.png" title="" alt="" />
				<div class="slider__text padding-full">
					<h4 data-mh="slider-title">Natures Menu Senior Dog Food Pouch Lamb with Chicken</h4>
					<p>£22.81</p>
					<a class="button" href="#">View More</a>
				</div>
			</div>
			<div class="slider__single padding-full">
				<img src="/assets/img/product-2.png" title="" alt="" />
				<div class="slider__text padding-top-bottom">
					<h4 data-mh="slider-title">Natures Menu Dog Food Can Chicken</h4>
					<p>£11.92</p>
					<a class="button" href="#">View More</a>
				</div>
			</div>
			<div class="slider__single padding-full">
				<img src="/assets/img/product-3.png" title="" alt="" />
				<div class="slider__text padding-top-bottom">
					<h4 data-mh="slider-title">Real Meaty Dog Treats with Beef</h4>
					<p>£2.09</p>
					<a class="button" href="#">View More</a>
				</div>
			</div>
		</div>
		<div class="arrow-container">
            <div class="prev slick-arrow">
				<i class="fas fa-angle-left fa-2x"></i>
            </div>
            <div class="next slick-arrow">
                <i class="fas fa-angle-right fa-2x"></i>
            </div>
        </div>
	</div>			
</div>