.content {

	&__image {
		@media screen and (max-width: $screen-small) {
			height: 300px;
			text-align: center;
		}

		img {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 	50%;
		}	
	
		svg {
			animation: move 20s ease-in-out infinite;
			transform-origin: 50% 50%;
	
			@media screen and (max-width: $screen-large) {
				width: 65%;
    			height: 200px;	
			}
		}
	}
		
	&__text {
		@media screen and (max-width: $screen-small) {
			flex: 0 0 83%;
			max-width: 83%;
			padding: 2rem;
			text-align: center;
		}
	}
}

@keyframes move {
	0%   { transform: scale(1)   translate(10px, -30px); }
	38%  { transform: scale(0.8, 1) rotate(160deg); }
	40%  { transform: scale(0.8, 1) rotate(160deg); }
	78%  { transform: scale(1.3) rotate(-20deg); }
	80%  { transform: scale(1.3) rotate(-20deg); }
	100% { transform: scale(1)   translate(10px, -30px); }
}