.footer {
    padding-top: 6rem;

     ul {
        list-style-type: none;
        text-align: left;

        @media screen and (max-width: $screen-small) {
            text-align: center;   
        }

         li {
            a {
                color: $lightGrey;

                &:hover {
                    color: $black;
                }
            }
         }
     }

     &__logo {
        img {
            width: 100px;

            @media screen and (max-width: $screen-large) {
                display: block;
                margin: 0 auto;
            }
        }
     }

     &__sign-up {
        text-align: left;

        @media screen and (max-width: $screen-small) {
            margin-top: 2rem;
            text-align: center;   
        }

         button {
             color: $orange;
             display: block;
             margin-bottom: 3rem;
             background: transparent;
             padding: 0;
             border: none;
             border-radius: 0;
             text-transform: inherit;

             @media screen and (max-width: $screen-small) {
                margin: 0 auto 1rem auto;
             }
         }

         i.social-icon {
             padding: 1rem;

             @media screen and (max-width: $screen-large) {
                 padding: 0.5rem;
             }
         }       
     }

     &__credentials {
        border-top: 1px solid $lightGrey;

        @media screen and (max-width: $screen-small) {
            text-align: center;   
        }

        p {
            color: $lightGrey;
            font-size: 12px;
        }
     }
}
