.container {
  width: 100%;
  max-width: 1140px;
	margin: 0 auto;
	position: relative;

	@media screen and (max-width: $screen-small) {
		max-width: $screen-small;
	}

	@media screen and (max-width: $screen-medium) {
		max-width: $screen-medium;
	}

	@media screen and (max-width: $screen-large) {
		max-width: $screen-large;
	}
}

.container-fluid {
	width: 100%;
	max-width: 100%;
	position: relative;
}

.row {
	// width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.col {
	flex: 1;
	position: relative;

	&__1 {
		flex: 0 0 8.333%;
		max-width: 8.333%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__2 {
		flex: 0 0 16.667%;
		max-width: 16.667%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__3 {
		flex: 0 0 25%;
		max-width: 25%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__4 {
		flex: 0 0 33.333%;
		max-width: 33.333%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__5 {
		flex: 0 0 41.667%;
		max-width: 41.667%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__6 {
		flex: 0 0 50%;
		max-width: 50%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__7 {
		flex: 0 0 58.333%;
		max-width: 58.333%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__8 {
		flex: 0 0 66.667%;
		max-width: 66.667%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__9 {
		flex: 0 0 75%;
		max-width: 75%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__10 {
		flex: 0 0 83.333%;
		max-width: 83.333%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__11 {
		flex: 0 0 91.667%;
		max-width: 91.667%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__12 {
		width: 100%;
		max-width: 100%;

		@media screen and (max-width: $screen-small) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
