body {
	margin: 0;
	padding: 0;
}
.padding-full {
	padding: 2rem;
}

.padding-top-bottom {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.padding-top {
	padding-top: 2rem;
}

.padding-bottom {
	padding-bottom: 2rem;
}

.padding-left-right {
	padding-left: 2rem;
	padding-right: 2rem;
}

.padding-left {
	padding-left: 2rem;
}

.padding-right {
	padding-right: 2rem;
}