// Colours
$teal: #95dbe5;
$white: #fff;
$orange: #ff5c00;

// Fonts
$fontOpenSans: "Open Sans", sans-serif;
$fontRoboto: "Roboto", sans-serif;

// Layout
$screen-small: 540px;
$screen-medium: 720px;
$screen-large: 960px;
