// Colours
$black: #000;
$white: #fff;
$lightBlue: #95dbe5;
$orange: #ff5c00;
$lightGrey: #b7b7b7;
$darkGrey: #7c7c7c;

// Fonts
$fontOpenSans: "Open Sans", sans-serif;
$fontRoboto: "Roboto", sans-serif;

// Layout
$screen-small: 540px;
$screen-medium: 720px;
$screen-large: 960px;