h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontOpenSans;
}

a {
    font-family: $fontOpenSans;
    text-decoration: none;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
